@import "tailwindcss";

@theme {
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-emerald-500: #10b981;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes caret-blink {

    0%,
    70%,
    100% {
      opacity: 1;
    }

    20%,
    50% {
      opacity: 0;
    }
  }
}